/* reset básico*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #141419;
    color: #333;
}

header {
    margin-top: 10px;
    color: #fff;
    padding: 20px;
    text-align: center;

}

header h1 {
    margin-bottom: 10px;

}

.botao-voltar {
    display: inline-block;
    margin-top: 10px;
    background-color: lightgray;
    color: #141419;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;

}

.botao-voltar:hover {
    background-color: rgb(177, 176, 176);
}

p {
    margin-top: 10px;
    color: #fff;
    padding: 10px;
    text-align: center;
}

main {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.links .botao {
    display: block;
    margin: 10px;
    padding: 15px 30px;
    background-color: lightgray;
    color: #141419;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;

}

.links .botao:hover {
    background-color: rgb(177, 176, 176); /*ação de passar o mouse emcima*/

}

/*Calculadora*/
.calculadora {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.calculadora input {
    width: 100%;
    height: 60px;
    font-size: 24px;
    margin-bottom: 15px;
    text-align: right;
    padding: 5px;
}

.botoes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.botoes button {
    height: 60px;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    background-color: #e0e0e0;
    cursor: pointer;
    transition: all 0.1s ease;
}

.botoes button:hover {
    background-color: #cfcfcf;
}

/*animação ao clicar*/
.botoes button:active {
    transform: scale(0.95);
    box-shadow: inset 0 3px 5px rgba(0,0,0,0.3);
}

.botoes .igual {
    grid-row: span 2;
    background-color: #1976d2;
    color: white;
    height: 130px;
    
}

.zero {
    grid-column: span 2;
}

.botoes .igual:hover {
    background-color: #014a99;
}

/*Relógio Munidal*/
.relogio-mundial {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.cidade {
    background-color: lightgray;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);

}

.cidade h2 {
    margin-bottom: 10px;
}

.cidade p {
    font-size: 24px;
    font-weight: bold;
}

.cidade:hover {
    background-color: rgb(177, 176, 176);
}